div.divBorder {
  border: 4px outset rgba(164,157,157,0.4);
  border-radius: 15px;
  display: inline-table;
  background-color: rgba(164,157,157,0.1);
  padding: 0;
  margin: 8px 12px;
}

#global {
  background-color: oldlace;
}
.pmsales, .pmgv, .pmga{
  color: blue;
}

.varsales, .vargv, .varga, .porcentsales, .porcentgv, .porcentga, .pyvarsales, .pyvargv, .pyvarga
, .pyporcentsales, .pyporcentgv, .pyporcentga{
  color: green;
}

 td.py {
  color: steelblue;
}

.table td, .table th {
  vertical-align: middle;
}

.nav-sections .container{
  position: fixed;
  z-index: 1030;
}


  .section{
    width: 82%;
    border-radius: 15px;
    margin: 4px auto;
    border: 5px outset rgba(13,153,101,0.8);
    /*-webkit-box-shadow: 0px 10px 13px -7px #000000, 10px 13px 12px 0px rgba(0,0,0,0.2); */
    box-shadow: 0px 10px 13px -7px #000000, 10px 13px 12px 0px rgba(0,0,0,0.2);
    /*display: table;*/
    min-width: 46em;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

@media screen and (max-width: 50em /*500px*/) {
  .full{display: none;}
  .media {display: inline-table;}
  h3 {margin-right: 2%;}
}
@media screen and (max-width: 650px) {
  span.full{display: none;}
  span.media{
    display: inline-block;
    }
  }


